/* 배경색 설정 */
.bg-primary{ background-color: #EAA636 !important;}
.bg-light { background-color: #FDF5EB !important;}
.bg-green{  background-color: #00403D;}
.bg-pink{ background-color: #D3817A;}
.bg-yellow{ background-color: #FFE085;}
.bgGreen{
  background: center / contain no-repeat url("../image/Vector2.png"),
  no-repeat url("../image/Vector3.png"),
  no-repeat url("../image/Vector4.png"),
  no-repeat url("../image/Vector5.png"),
  no-repeat url("../image/Vector6.png"),
  35% 30%/35% no-repeat url("../image/name1.png");
  background-color: #00403D;
}

.border-primary {  border-color: #EAA636 !important;}

/* 폰트 설정 */
.text-primary { color: #EAA636 !important;}
.text-yellow{ color: #FFE085;}
.mainText{
  color: var(--bs-white);
  font-size: calc(4rem + 5.5vw);
  font-weight: bold;
  line-height: 0.9;
}
.text-title{
  color: #00403D;
  font-size: 1rem;
  font-weight: bold;
  line-height: 0.9;
}

/* 여백설정 */
.mt-10{ margin-top: 10rem;}
.my-10{ margin-top: 10rem; margin-bottom: 10rem;}

/* 상단 섹션 */
section{  position: relative;}
section .btn{  position: absolute;  top: 67%;  right: 2%;  width: 360px;  color: var(--bs-white);}
/* 연락처 복사설정*/
.contact { position: absolute; top: 67%; right: 2%; width: 360px;}
.contact:hover #emailAddress { background-color: #EAA636; color: #FDF5EB;}
.contact .copied { position: absolute; bottom: 2px; left: 33%; width: 100px; height: 28px; line-height: 25px; border-radius: 2vw; display: inline-block; font-size: 18px; font-weight: 200; background-color: #002bd8; color: #fff; display: none; transition: all 2s; }
.contact .copied::after { content: ""; position: absolute; top: 80%; left: 50%; margin-left: -5px; border: 5px solid #002bd8; transform: rotate(45deg); }
.contact span { width: 100%; height: 3vw; color: #002bd8; left: 50%; line-height: 3vw; display: inline-block; text-align: center; font-family: "Poiret One", cursive; font-size: 2vw; font-weight: 900; }
.height { height: 8vw; }

.circleSet{  position: absolute;  top: 5%;  right: 1%;  width: 20%;  animation: moving 1s linear 0s infinite alternate;}
@keyframes moving{
  0% {margin-top: 5%;}
  100% {margin-top: 20%;}
}

/* 프로필 */
.icon{ 
  font-size: 3rem; 
  color: var(--bs-gray-600);
}


/*** About ***/
.img-twice::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  background: #EAA636;
  border: 25px solid #FDF5EB;
  border-radius: 6px;
  z-index: -1;
}



/* 1108 갤러리 버튼 설정 추가 */
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/*** 1127 Project Note ***/
.img-note { cursor: pointer;}

.product-item {  transition: .5s;}
.product-item:hover {  background: #EAA636 !important;}
.product-item:hover * {  color: #FDF5EB;}
.product-item:hover .border-primary {  border-color: #FDF5EB !important;}

.product-item .product-overlay {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}

.product-item:hover .product-overlay {
  height: 100%;
  opacity: 1;
}


/* top 버튼 */
a#topBtn { 
	position: fixed;
	right: 2%;
	bottom: 1rem;
	display: none;
	z-index: 9999;
  font-size: 3rem; 
  color: #FFE085;
}

.modal_por { position: relative;}

#chat_iframe {width: 100%; height: 500px; overflow-x:hidden;}