/* 배경색 설정 */
.bg-green{  background-color: #00403D;}
.bg-pink{ background-color: #D3817A;}
.bg-yellow{ background-color: #FFE085;}
.bgGreen{
  background: center / contain no-repeat url("../image/Vector2.png"),
  no-repeat url("../image/Vector3.png"),
  no-repeat url("../image/Vector4.png"),
  no-repeat url("../image/Vector5.png"),
  no-repeat url("../image/Vector6.png"),
  35% 30%/35% no-repeat url("../image/name1.png");
  background-color: #00403D;
}

/* 폰트 설정 */
.text-yellow{color: #FFE085;}
.mainText{
  color: #ffffff;
  font-size: calc(4rem + 5.5vw);
  font-weight: bold;
  line-height: 0.9;
}

/* 여백설정 */
.mt-10{ margin-top: 10rem;}
.my-10{ margin-top: 10rem; margin-bottom: 10rem;}

/* 상단 섹션 */
section{  position: relative;}
section .btn{
  position: absolute;
  top: 67%;
  right: 2%;
  width: 360px;
  color: #fff;
}
.circleSet{
  position: absolute;
  top: 5%;
  right: 1%;
  width: 20%;
}

/*** About ***/
.img-twice::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  background: #EAA636;
  border: 25px solid #FDF5EB;
  border-radius: 6px;
  z-index: -1;
}